name: scala-steward

on:
  push:
    branches: [ main ]
  schedule:
    - cron: '0 7 * * *'

jobs:
  scala-steward:
    runs-on: ubuntu-latest
    if: ${{ github.repository_owner == 'xuwei-k' }}
    steps:
    - uses: actions/setup-java@v5
      with:
        distribution: adopt
        java-version: 17
    - id: generate_token
      uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2.2.0
      with:
        app-id: 89536
        private-key: ${{ secrets.XUWEI_K_BOT_KEY }}
    - uses: scala-steward-org/scala-steward-action@v2
      with:
        github-token: ${{ steps.generate_token.outputs.token }}
        author-email: "74788111+xuwei-k-bot[bot]@users.noreply.github.com"
        author-name: xuwei-k-bot[bot]
